nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 40px;
    background:#2563eb;
}

nav h2{
    color:white;
}

nav div{
    display:flex;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    text-decoration:underline;
}